*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/stream/java8Stream/.settings/org.eclipse.jdt.core.prefs
/stream/java8Stream/.settings/org.eclipse.jdt.core.prefs
